In [2]:
from datascience import *
import numpy as np
import csv

````markdown
Data from Social Security Administration is separated into many .txt files.  We need to write them to a single .csv file.
````

In [3]:
write_csv = open('../data/data1910-2020.csv', 'w')
SA_writer = csv.writer( write_csv, delimiter = ',', quotechar = '', quoting = csv.QUOTE_NONE)

SA_writer.writerow(['decade', 'first_name', 'gender', 'count'])
for decade in range(1910, 2020, 10):
    f         = open('../data/yob'+str(decade)+'.txt', 'r')
    read_csv  = csv.reader(f, delimiter = ',')

    for line in read_csv:
        if line[0].isspace() == False:
            SA_writer.writerow([decade, str(line[0]), str(line[1]), int(line[2])])

    f.close()

````markdown
Create a table for the joined data and make separate tables for men and women.
````

In [4]:
first_names = Table.read_table('../data/data1910-2020.csv')

male_first   = first_names.where('gender', 'M')
female_first = first_names.where('gender', 'F')

male_first.show(20)
female_first.show(20)

````markdown
The ethnicity adjustment table only has certain (first + last) name combinations.  Drop rows where the first name is not in the adjustment table.
````

In [6]:
def drop_names(entry):
    to_keep = ['John', 'Michael', 'James', 'Robert', 'David', 'Mary', 'William',
               'Richard', 'Thomas', 'Jennifer', 'Patricia', 'Joseph', 'Linda',
               'Maria', 'Charles', 'Barbara', 'Mark', 'Daniel', 'Susan', 'Elizabeth']

    for name in to_keep:
        if entry == name:
            return True
    return False

short_Mfirst = male_first.where('first_name', drop_names)
short_Ffirst = female_first.where('first_name', drop_names)

short_Mfirst.show(20)
short_Ffirst.show(20)